h3 Demo of Directives
div(kj-movie, title='Lars and the Real Girl')
div(kj-movie, title='Clerks')
div(kj-movie, title='12 Monkeys')
div(ng-repeat='person in people', kj-greeting, name='{{person.name}}', age='{{person.age}}')
div(kj-clock, frequency='2000')
div(kj-stock, ng-repeat='symbol in symbols', symbol='{{symbol}}')
div(kj-weather, zip='37216')
